# Created by https://www.gitignore.io/api/phoenix

### phoenix ###
# Phoenix: a web framework for Elixir
_build/
deps/
node_modules/
config/prod.secret.exs
config/local.exs
*.coverdata

*.dump
*.pem
cover
.elixir_ls

/priv/static/assets/